[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
matplotlib = "*"
tabulate = "*"
scipy = "*"
websockets = "*"
pyyaml = "*"
pandas = "*"
tqdm = "*"
seaborn = "*"
statsmodels = "*"

[dev-packages]
sphinx-rtd-theme = "*"
sphinxcontrib-tikz = "*"
