--extra-index-url https://test.pypi.org/simple

coopihczoo==0.0.3; python_version >= "3.8" and python_version < "3.11"
cycler==0.11.0; python_version >= "3.7"
fonttools==4.28.3; python_version >= "3.7"
kiwisolver==1.3.2; python_version >= "3.7"
matplotlib==3.5.0; python_version >= "3.7"
numpy==1.21.4; python_version >= "3.7" and python_version < "3.11"
packaging==21.3; python_version >= "3.7"
pillow==8.4.0; python_version >= "3.7"
pyparsing==3.0.6; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
setuptools-scm==6.3.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tabulate==0.8.9
tomli==1.2.2; python_version >= "3.7"
websockets==10.1; python_version >= "3.8" and python_version < "3.11"
