body {
            font-family: "Courier New", sans-serif;
            text-align: center;
        }

canvas {
    border: 1px solid black;
}

.value {
    min-width: 2em;
}

.indicators {
    font-size: 1em
}
.targets {
    color: purple;
}
.position {
    color: blue;
}
.goal {
    color: green;
}
.param {
    color: red;
}
.state {
    font-size: 2em;
}
